name: Deploy Website
on:
  workflow_dispatch:

jobs:
  build:
    env:
      SANITY_API_READ_TOKEN: ${{ secrets.SANITY_API_READ_TOKEN }}
      SFTP_HOST: ${{ secrets.BUNNY_SFTP_HOST }}
      SFTP_USER: ${{ secrets.BUNNY_SFTP_USER }}
      SFTP_PASS: ${{ secrets.BUNNY_SFTP_PASSWORD }}
      RELEASE_ID: ${{ github.sha }}
      BUILD_DIR: apps/website/out
      REMOTE_BASE: /deployments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build --prefix apps/website
      - name: Deploy to Bunny
        uses: R-J-dev/bunny-deploy@v2.0.6
        with:
          storage-zone-password: ${{ secrets.BUNNY_SFTP_PASSWORD }}
          directory-to-upload: apps/website/out
          storage-endpoint: https://storage.bunnycdn.com
          storage-zone-name: helnwein-test
          target-directory: deployments/${{ github.sha }}
          concurrency: "30"               # see API limits below
          # optional clean + purge:
          # access-key: ${{ secrets.BUNNY_ACCESS_KEY }}
          # enable-delete-action: true
          # enable-purge-pull-zone: true
          # pull-zone-id: "12345"